{
  "TWITCH_CLIENT_ID": "YOUR_TWITCH_CLIENT_ID",
  "TWITCH_CLIENT_SECRET": "YOUR_TWITCH_CLIENT_SECRET",
  "DISCORD_TOKEN": "YOUR_DISCORD_TOKEN",
  "ANNOUNCEMENT_CHANNEL_ID": "CHANNEL_ID_WHERE_SHE_SAYS_SOON",
  "STREAM_BOT_CHANNEL_ID": "CHANNEL_ID_WHERE_BOT_POSTS_LIVE",
  "DISCORD_ENABLED": false,
  "STREAMER_NAME": "omenkitty12"
}
